@import './settings.scss';

// @s-ui/react-atom-button
$bgc-atom-button: $c-monokai-action;
$c-primary: $c-monokai-action;

.sui-AtomButton--primaryColor.sui-AtomButton--outline {
  &:hover {
    background-color: $c-monokai-dark !important;
  }
}
